<div class="container-bookmarks">
  <div class="bule-bar">
    <%= image_tag "tht.png", class:"logo-book" %>
  </div>
  <div class="container-fluid bannerbookmark">
    <div class="row">
      <div class="cards-container">
        <% @bookmarks.each do |bookmark| %>
        <div class="col-xs-4">
          <div class="card-bookmark">
            <div class="row">
              <div class="col-xs-3">
                <%= link_to "", bookmark_path(bookmark), method: :delete, class:"fa fa-times" %>
                <img src="//logo.clearbit.com/repubblica.it" class="logo-article">
              </div>
              <div class="col-xs-9">
                <div class="card-description">
                  <h2 class="card_label_city"><%= bookmark[:city] %></h2>
                  <p><%= link_to bookmark[:title], bookmark[:url] %></p>
                </div>
                <div class= "cards-bookmark-footer">
                  <div class= "cards-bookmark-controls">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
