// Specific CSS for your home-page
.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0A2342;
    overflow-x: hidden;
    padding-top: 20px;
}

.filter-by-date {
  color: white;
  font-weight: normal;
  padding: 30px 0px 0px 30px;
  .filter-intro {
    font-size: 23px;
    padding: 10px 0px;
  }
  .filters .date-category {
    padding: 10px 0px;
  }
  .filters .date-category a {
    color: white;
    text-decoration: none;
  }
  .filters .date-category a:hover {
    font-weight: bolder;
  }

  .active-font a {
    font-weight: bold;
  }

  .active-font a:link {
    text-decoration: underline;
    text-decoration-color: white;
  }
}

/* Style page content */
.main {
    margin-left: 25%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.logo {
  height: 250px;
  // border-bottom: 1px solid white;
  margin-left: 50px;
  // margin-left:auto;
  // margin-right:auto;
  // margin: 0 auto;
}

// img {
//   margin-left: 50px;
// }

.user-section {
  height: 100px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  justify-content: space-between;
  > a:first-child {
    margin-left: 95px;
    font-family: Roboto;
    font-size: 18px;
    color: #F5F5F5;
  }
  > a:last-child {
    margin-right: 95px;
    font-family: Roboto;
    font-size: 18px;
    color: #F5F5F5;
  }
}

.user-info {
  padding-left: 30px;
  color: white;
}


.user-name {
  font-family: Roboto;
  font-size: 18px;
  color: #F5F5F5;
  margin: 0px;
}


.log-out-icon {
  font-size: 30px;
  color: white;
  margin-right: 15px;
}

.second-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-userj {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-log {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bookmark-home {
  margin-right: 15px;

}

