// Specific CSS for your home-page
.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0A2342;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style page content */
.main {
    margin-left: 25%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.logo {
  height: 250px;
  border-bottom: 1px solid white;
  // margin-left:auto;
  // margin-right:auto;
  // margin: 0 auto;
  margin-left: 50px;
}


.user_section {
  height: 100px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user_name {
font-family: Roboto;
font-size: 25px;
color: #F5F5F5;

}


.iconcina-bll {
  font-size: 30px;
  color: white;
}

.second-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
