<div class="card">
  <% @list_of_sorted_cities.each do |city| %>
  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="message-name">
      <h2> <%= city[:name] %> </h2>
      <p>10/07/17</p>
    </div>
    <div class="message-body">
      <% @results[city[:name]]["posts"].each do |article| %>
        <p><%= article["thread"]["title"] %></p>
    <% end %>
    </div>
  </div>
  <% end %>
</div>



<!-- gmap for rails, infowindow -->
