<% @list_of_sorted_cities.each do |city| %>
<ul>
  <h2> <%= city[:name] %> </h2>
  <% @results[city[:name]]["posts"].each do |article| %>
  <li>
    <p><%= article["thread"]["title"] %></p>
  </li>
  <% end %>
</ul>
<% end %>
