<% "AIzaSyD5OLpTd7Q483-N9EAcaQzkm7pXgRgBGm4" %>

<% center = {} %>

<% @list_of_sorted_cities.each do |city| %>
  <% if city[:name].match?(@city_name) %>
    <% center[:lat] = city[:latitude] %>
    <% center[:lng] = city[:longitude] %>
  <% end %>
<% end %>



<div id="map">
</div>
<script>
  function initMap() {
    var center = {lat: <%= center[:lat].to_s %>, lng: <%= center[:lng].to_s %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: center
    });

    var marker = new google.maps.Marker({
      position: center,
      map: map
    });
  }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5OLpTd7Q483-N9EAcaQzkm7pXgRgBGm4&callback=initMap">
</script>
