.container-bookmarks {
  display: block;
}

.logo-book {
  max-width: 100%;
  height: 90px;
  margin: auto;
}

.cards-container {
  margin-top: 15px;
}

.rowalignment1 {
  display: flex;
  justify-content: center;
}

.rowalignment2 {
  padding-bottom: 31px;
}

.rowalignment3 {
  display: flex;
  justify-content: center
}

.card-bookmark {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  text-decoration: none solid rgba(0, 0, 0, 0.87);
  line-height: 20px;
  background-size: cover !important;
  background-position: center;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
  transition: all 0.3s ease;
  background-color: white;
  width: 700px;
  height: 130px;
  padding: 20px;
  img {
  width: 80px;
  height: 60px;
}

.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  text-align: left;
}

.card-description a {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 20px;
  color: black;
  transition: color .2s ease-in-out;
  display: flex;
  position: absolute;
  top: 35px;
}
a:hover {
  text-decoration: underline solid rgb(0, 0, 0);
  color: #132543;
}

a.fa {
  padding: 5px;
  position: absolute;
  left: -4px;
  top: -19px;
}

a.fa:hover {
  text-decoration: none;
}

.delete_button {
  a {
  margin-top: 5px;
  text-align: center;
  color: red;
  }
}

.bookmarkstitle {
  font-family: Elsie;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  letter-spacing: normal;
  color: black;
  text-align: center;
}
