.container-bookmarks {
  display: block;
}

.logo-book {
  max-width: 100%;
  height: 90px;
  margin: auto;
}

.cards-container {
  margin-top: 15px;
}

.card-bookmark {
  background-size: cover !important;
  background-position: center;
  height: 165px;
  margin-bottom: 25px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  background-color: white;
  position: relative;
}

.card-description h2 {
  margin: auto;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 2%;
}
.card-description p {
  font-size: 16px;
  opacity: 0.7;
  font-weight: lighter;
}

.card-description a {
  color: #132543;
  text-decoration: none;
  font-weight: 400;
}


.cards-bookmark-footer {
}

.cards-controls {
position: absolute;
}

a.fa {
  display: inline-block;
  padding: 5px;
}

a.fa:hover {
  text-decoration: none;
}

.logo-article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 30px;
}

.delete_button {
  a {
  margin-top: 5px;
  text-align: center;
  color: red;
  }
}
